.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #FFEC3D;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header {
    flex: 1;
}

.main {
    width: 80%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main h1 {
    flex: 2;
    font-size: 80px;
}

.main p {
    flex: 1;
    margin: 10px;
}

.main .left,
.right {
    display: flex;
    flex-direction: column;
    height: 80%;
    text-align: center;
    font-weight: bold;
}



.footer {
    flex: 1;
    margin-top: 20px;
}

.footer button {
    outline: none;
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 4px;
    background: #1F2428;
    color: #fff;
    cursor: pointer;
}

#select-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 300px;
    color: #1F2428;
}

#confirm-button {
    width: 80px;
    height: 26px;
    outline: none;
    border-radius: 4px;
    color: #fff;
    background-color: #1F2428;
}

#gesture-select {
    width: 80px;
    outline: none;
    border: 2px solid #1F2428;
}

.left-gesture-item,
.right-gesture-item {
    display: none;
}

.active {
    display: block;
}

.header,
.result-info {
    font-weight: bold;
}

.header {
    font-size: 2rem;
    height: 100px;
    line-height: 100px;
}

.result-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
}

.right-img,
.left-img {
    display: flex;
    justify-content: center;
    align-items: center;
}