body {
    margin: 0;
    padding: 0;
    background-color: steelblue;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 24rem;
    height: 26rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 22px 0;
}

.container a {
    text-decoration: none;
    color: lightblue;
}

.container form {
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container p {
    width: 80%;
    margin-left: 6px;
}


.form-control {
    position: relative;
    width: 80%;
}

.form-control input {
    display: block;
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 1rem;
    border-bottom: 2px solid #fff;
    color: #fff;
    padding: 10px 0;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
}

button {
    display: inline-block;
    background: lightblue;
    border: 0;
    border-radius: 5px;
    width: 80%;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
}

button:active {
    transform: scale(0.98)
}